<div class="user-menu">
  <ul class="tab-menu">
    <li id="left" class="selected">過去のレビュー</li>
    <li id="right">お気に入り</li>
  </ul>
  
  <div class="contents">
    <div class="left">
      <div class="user_shows_box">
        <% current_user.reviews.each do |review| %>
          <ul class="user_show_box">
            <li class="user_show_header">
              <%= review.product.title %>
            </li>
            <li>
               <% if review.product.image_url == nil %>
                 <%= image_tag review.product.image, class: "user_show_image" %>
               <% else %>
                 <%= image_tag review.product.image_url, class: "user_show_image" %>
               <% end %>
            </li>
            <li class="user_show_review">
              <%= review.review %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
    
    <div class="right">
      <div class="user_shows_box">
        <% current_user.favorites.each do |favorite| %>
          <ul class="user_show_box">
            <li class="user_show_header">
              <%= favorite.product.title %>
            </li>
            <li>
              <% if favorite.product.image_url == nil %>
                <%= image_tag favorite.product.image, class: "user_show_image" %>
              <% else %>
                <%= image_tag favorite.product.image_url, class: "user_show_image" %>
              <% end %>
            </li>
            <li class="user_show_review">
              <span>いいね数：<%= favorite.product.favorites.count %></span>
            </li>
          </ul>
        <% end %>
      </div>
    </div>

  </div>
</div>