<div class="contents_row">
    <h2 class="tweet_header">投稿する</h2>
    <ul class="new_container">
      <%= form_with(model: @product) do |f| %>
        <li>
          <%= f.text_field :title, class: "tweet_form", placeholder: "店名" %>
        </li>
        <li>
          <%= f.text_field :address, class: "tweet_form", placeholder: "住所" %>
        </li>
        <li>
          <%= f.text_area :text, class: "tweet_form", placeholder: "レビューを書いてね", size: "50 * 150" %>
        </li>
        <li>
          <%= f.file_field :image, class: "tweet_form" %>
        </li>
          <div class="tweet_button">
            <%= f.submit "送信", class: "review_button_submit" %>
          </div>
      <% end %>
    </ul>

</div>