<div class="show_contents">
  <div class="show_box">
    <div class="show_header">
      <h2 class="show_title"><%= @product.title %></h2>
    </div>
    <div class="show_product_box">
      <div class="show_thumbnail">
       <% if @product.image_url == nil %>
         <%= image_tag @product.image %>
       <% else %>
         <%= image_tag @product.image_url %>
       <% end %>
      </div>
    </div>
    <div class="product_address">
      <%= @product.address %>
    </div>
    
    <div class="favorite_ajax">
      <%= render partial: "favorite", locals: {product: @product} %>
    </div>
    
    <div class="review_new">
      <a href="/products/<%= @product.id %>/reviews/new" class="btn-square">このラーメンを評価する</a>
    </div>
  </div>
  
  <div class="show_index">
    <h4 class="show_index_header">【みなさんの評価一覧】</h4>
    <div class="reviews_show_index">
      <div class="reviews_index">
        <% @product.reviews.each do |review| %>
          <li class="review_index">
            <%= link_to review.user.nickname, user_path(review.user), data: {"turbolinks" => false} %>：<%= review.review %>
          </li>
        <% end %>
      </div>
      <div class="texts_index">
        <% if @product.text.present? %>
          <h4 class="text_index_header">【投稿者の感想】</h4>
          <li class="text_index">
            <%= link_to @product.user.nickname, user_path(@product.user), data: {"turbolinks" => false} %>：<%= @product.text %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
  
</div>