<!DOCTYPE html>
<html>
  <head>
    <title>Myapp1218</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <%= image_tag ("ramen_syouyu.png"), class: "ramen_img" %>
      <a class="title" href="/">俺のラーメン</a>
      <%= image_tag ("7605.png"), class: "ramen_img2" %>
      <div class="tweet">
        <% if user_signed_in? %>
          <div class="header_user">
            <p><%= link_to "#{current_user.nickname}", "/users/#{current_user.id}", data: {"turbolinks" => false}, class:"login_name" %></p>
            <span class="login_name"><%= image_tag current_user.image %></span>
          </div>
        <% end %>
        <ul class="tweet_list">
            <li><a class="top" href="/">TOP</a></li>
            <li><a href="/products/new">投稿する</a></li>
            <li><a class="top_search" href="/products/search">ラーメンを探す</a></li>
          <% if user_signed_in? %>
            <li><%= link_to "マイページ", "/users/#{current_user.id}", data: {"turbolinks" => false}, class: "top_my" %></li>
            <li><%= link_to "ログアウト", "/users/sign_out", method: :delete, class: "logauto" %></li>
          <% end %>
        </ul>
      </div>
    </div>
    
    <div class="body">
      <div class="review_container">
      
        <%= yield %>
   
        <div class="ranking_body">
          <h4 class="ranking_title">投稿ランキング</h4>
          <% @ranking.each.with_index(1) do |product, i| %>
            <a href="/products/<%= product.id %>">
            <div class="ranking_box">
              <div class="ranking_number">
                <h3><%= i %>位</h3><%= product.title %>
              </div>
              <div class="ranking_image">
                <% if product.image_url == nil %>
                  <%= image_tag product.image %>
                <% else %>
                  <%= image_tag product.image_url %>
                <% end %>
              </div>
            </div>
            </a>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="footer">
      <p>©Copyright2019 SHIBATA.</p>
    </div>
    
  </body>
</html>
